<div class="container">

    <h1>Calcula a média de uma disciplina</h1>

    <form>
        <div class="card">
            <div>
                <label>Bim 1</label>
                <input type="number" #b1>
            </div>
            <div>
                <label>Bim 2</label>
                <input type="number" #b2>
            </div>
            <div>
                <label>Bim 3</label>
                <input type="number" #b3>
            </div>
            <div>
                <label>Bim 4</label>
                <input type="number" #b4>
            </div>

            <div class="botao">
                <input
                    type="button"
                    value="Calcular"
                    (click)="calcularMediaParcial(+b1.value, +b2.value, +b3.value, +b4.value)">
            </div>
        </div>
    </form>

    @if (mediaParcial && mediaParcial < 60) {

        <form>
            <div class="card">
                <div>
                    <label>Nota da Avaliação Final</label>
                    <input type="number" #nf>
                </div>
                <div class="botao">
                    <input
                        type="button"
                        value="Calcular"
                        (click)="calcularMediaFinal(+nf.value)">
                </div>
            </div>
        </form>
    }

    @if (mediaParcial) {
<div class="resultado">
    <p>Média parcial = {{ mediaParcial }}</p>
    <p>Situação = {{ situacao }}</p>
</div>
}

@if (mediaFinal) {
<div class="resultado">
    <p>Média final = {{ mediaFinal }}</p>
    <p>Situação = {{ situacao }}</p>
</div>
}

</div>